*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "courier new", courier ,monospace;
}
body {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background: linear-gradient(180deg, #931f9b, #491b49 );
}
#stopwacth {
 background-color: rgb(48, 45, 45);
 padding: 2rem;
 border-radius: 8px;
}
#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 45, 45);
    height: 350px;
    width: 350px;
    border:3px solid rgb(46, 213, 28);
    border-radius: 100%;
    font-weight: 600;
    font-size: 40px;
    color:rgb(119, 255, 0);
    margin-bottom: 1.5rem;
    padding: 4rem;
    transition: background-color .2s ease-in;
}
#actions{
    display: flex;
    gap:0.5rem;
}
#actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    height: 3.3rem;
    font-size: 2rem;
    border-radius: 4px;
    background-color: azure;
    color: rgb(46, 213, 28);
    padding: 0.6rem;
    cursor: pointer;
}
#actions button:hover {
    background-color: rgb(4, 5, 4);
}
#marks-list {
    display: flex;
    gap:0.7rem;
    flex-direction: column;
    margin-top: 1.5rem;
    color:rgb(119, 255, 0);
    align-items: center;
    font-size: 30px;
}